<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/mystyle.css">
    <title>Home Page</title>
</head>
<body>
    <div class="header">
        <div class="mt-12 mb-4 bg-light d-flex justify-content-between">
            <ul class="nav justify-content-center">
                <li class="nav-item h6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGCSqp3NDnNARo6y7mc9tKnZ95mXtgGkzOgw&usqp=CAU" alt="" width="80" height="80"> 
                </li>
                <li class="nav-item h6 m-0 my-3">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item h6 m-0 my-3">
                    <a class="nav-link" href="/products">Management</a>
                </li>
                <li class="nav-item h6 m-0 my-3">
                    <select class="form-select" aria-label=".form-select-sm example" onchange="window.location.href=this.value">
                        <option selected>Open this select menu</option>
                        <option value="/asc">High price products</option>
                        <option value="/desc">Low price products</option>
                    </select>
                </li>
                </ul>
                <div class="search-card d-flex">
                <form class="d-flex align-items-center" action="/search" method="post">
                    <input class="form-control me-2" type="text" placeholder="search" name="search">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
        

    <div class="row row-cols-1 g-4 row-cols-md-4 mt-3 justify-content-center mx-3">
        {{#each results}}
            <div class="col">
                <div class="card-deck h-100 border ml">
                    <div class="card-image px-5">
                            <img src="{{pic}}" alt="" class="card-img-top">
                    </div>
                        <div class="card-body border-top bg-light">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">Price: {{price}}$</p>
                            <input type="number" class="form-control" name="quantity" min="1" max="10" value="1">
                        <div class="text-center">
                            <button type="submit" name="addcart" class="btn btn-primary mt-2 text-center">
                                Buy Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    
    <footer class="mt-12">
            <p class="text-center bg-light m-0">Toy Store © Copyright 2022. Design by Nguyen Viet Ha.</p>
    </footer>
</body>
</html>